<!--共用html 用于加载共同部分-->
<!--js加载-->
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="js/jquery-form.js" type="text/javascript"></script>
<script src="js/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript"></script>
<script src="js/Singleton.js" type="text/javascript"></script>
<script src="js/Util.js" type="text/javascript"></script>
<script src="js/Common.js" type="text/javascript"></script>

<!--css加载-->
<link type="text/css" href="js/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
<link type="text/css" href="css/common.css" rel="stylesheet" />
<link type="text/css" href="css/reset.css" rel="stylesheet" />

<!--title图标-->
<link type="image/x-icon" href="jubaoji.ico" rel="icon" />
