<!--机构导航-->
<div id="organization-left" class="left">
    <ul class="menu">
        <li>
            <span id="organization_commodity-left-menu">拍品管理</span>
            <ul id="organization_commodity-left-menu-item" class="menuItem">
                <li id="organization_commodity-comm_create-item">创建拍品</li>
                <li id="organization_commodity-comm_list-item">全部拍品</li>
            </ul>
        </li>
        <li>
            <span id="organization_1-left-menu">其他</span>

        </li>
        <li>
            <span id="organization_2-left-menu">其他</span>

        </li>
        <li>
            <span id="organization_3-left-menu">其他</span>

        </li>
        <li>
            <span id="organization_4-left-menu">其他</span>

        </li>
    </ul>

</div>