.team .honors{
    float: left;
    width: 24%;
    height: 40px;
}

.team .divide{
    float: left;
    height: 400px;
    border: solid grey 0.5px;
}

.team .activities{
    float: right;
    margin: 20px 30px;
    width: 70%;
}

.team .activities a{
    clear: both;
    float: left;
    color: black;
    width: 70%;
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    word-wrap:break-word;
}

.team .activities a:hover{
    color: red;
    text-decoration: underline;
}

.team .activities a p{
    float: left;
}

.team .activities img{
    /*clear: both;*/
    /*float: left;*/
    margin-bottom: 30px;
    width: 70%;
}

.team .activities p{
    float: right;
    font-size: large;
}

.team .more{
    clear: both;
    float: right;
    margin:20px 20px 20px 20px;
    font-size: 32px;
    font-weight: bolder;
    cursor:pointer;
}

.team .honors .title{
    margin: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.team .honors .text{
    clear: both;
    font-size: larger;
    font-weight: 700;
    word-wrap:break-word;
    margin: 30px 20px 0px 20px ;
}

.team-honors-delete-btn{
    clear: both;
    float: left;
    margin-left: 10px;
}

.team .honors .students{
    float: right;
    font-size: small;
    margin: 0px 10px 0px 10px;
}

.team .honors .teacher{
    clear: both;
    float: right;
    font-size: small;
    margin: 0px 10px 0px 10px;
}

.activity .title{
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
    font-size: 50px;
    word-wrap: break-word;
    text-align: center;
    font-weight: bolder;
}

.activity .writer{
    clear: both;
    float: right;
    margin: 20px 20px 10px 20px;
}

.activity .time{
    clear: both;
    float: right;
    margin: 0px 20px 150px 20px;
}

#team-activity-div{
    margin-bottom: 100px;
}

#team-activity-div img{
    clear: both;
    float:left;
    text-align: center;
    margin: 50px auto;
}

#team-activity-div p{
    clear: both;
    margin: 50px 100px;
    line-height: 30px;
    word-wrap: break-word;
    text-indent:32px;
    text-transform:capitalize;
}

#team-honors-add-btn{
    clear: both;
}

#team-activities-add-btn{
    clear: both;
    width: 30px;
    height: 30px;
}

#honor-add-dialog textarea{
    width: 200px;
    height: 200px;
}

#activity-write-tool-dialog{
    background: #DAF3F5;
    z-index:200;
    position : fixed;
    top : 30px;
    left: 930px;
    width: 250px;
    height: 70px;
    display: none;
}

#activity-write-tool-dialog button{
    float: left;
    margin: 10px 0px 0px 10px ;
}

#activity-add-dialog input{
    margin-top: 10px;
    margin-bottom: 10px;
}


