<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优秀学长</title>
    <%include file="common.html"%>
    <script type="text/javascript" src="js/students.js"></script>
    <link type="text/css" href="css/students.css" rel="stylesheet" />
</head>
<body>
<%include file="title.html"%>
<%include file="banner.html"%>
<div id="students-index">
    <!--<p class="students-title">2016</p>-->
    <!--<div class="students-div">-->
        <!--<img class="students-icon" src="img/debug_icon.jpg"/>-->
        <!--<p class="students-name">xxx</p>-->
        <!--<p class="students-introduce">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>-->
    <!--</div>-->
</div>
</body>
</html>