<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
<beans>
	<!-- DAO -->
	<bean id="adminDao" class="com.example.shop.console.dao.DaoImpl">
		<constructor-arg>
			<value>com.example.shop.model.Admin</value>
		</constructor-arg>
	</bean>
	
	<bean id="commodityDao" class="com.example.shop.console.dao.DaoImpl">
		<constructor-arg>
			<value>com.example.shop.model.Commodity</value>
		</constructor-arg>
	</bean>
	
	<bean id="commodityTypeDao" class="com.example.shop.console.dao.DaoImpl">
		<constructor-arg>
			<value>com.example.shop.model.CommodityType</value>
		</constructor-arg>
	</bean>
	
	<bean id="supplierDao" class="com.example.shop.console.dao.DaoImpl">
		<constructor-arg>
			<value>com.example.shop.model.Supplier</value>
		</constructor-arg>
	</bean>
	
	<!-- BIZ -->
	<import src="/biz-beans.xml"></import>
	
	<!-- Controller -->
	<bean id="userController" class="com.example.shop.client.controller.web.UserController">
		<property name="adminBiz" ref="adminBiz"></property>
	</bean>
</beans>