#admin_running-article_create-div{

}

.article-title{
    text-align: center;
    margin: 20px;
}

.article-title input{
    text-align: center;
    height: 60px;
    font-size: 50px;
}

.article-subtitle{
    text-align: center;
    margin: 20px;
}

.article-subtitle input{
    text-align: center;
    height: 40px;
    font-size: 35px;
}

.article-content{
    margin-top: 50px;
}

.article-content textarea{
    width: 90%;
    height: 400px;
    margin-left: 5%;
    font-size: 20px;
    text-indent:40px;
}

#admin_running-article_create-submit{
    float: right;
    width: 120px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin: 50px;
}

.article-image{
    text-align: center;
}

.article-image img{
    cursor: pointer;
}