<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>团队风采</title>
    <%include file="common.html"%>
    <script type="text/javascript" src="js/team.js"></script>
    <link type="text/css" href="css/team.css" rel="stylesheet"/>
</head>
<body class="team">
<%include file="title.html"%>
<%include file="banner.html"%>
<div id="team-honors" class="honors">
    <p class="title">荣誉墙</p>
    <div id="team-honors-more" class="more">更多</div>
    <img id="team-honors-add-btn" class="btn show-limit-user1 show-limit-user0 show-limit-admin" src="img/btn_add.jpg">
</div>
<div id="team-divide" class="divide"></div>
<div id="team-activities" class="activities">
</div>
<div id="team-activities-more" class="more">更多</div>
<img id="team-activities-add-btn" class="btn show-limit-user1 show-limit-user0" src="img/btn_add.jpg">
</body>
</html>